{% extends 'base.html' %}

{% block main %}
<h3>Create a blog</h3>
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="">Title:</label><br>
    <input type="text" name="title" ><br>
    <label for="">Body:</label><br>
    <textarea name="body" ></textarea><br>
    <label for="">Image:</label>
    <input type="file" name="image" ><br>
    <label for="">Description</label><br>
    <textarea name="Description"></textarea><br>
    <button>Create Blog</button>
</form>

{%  endblock main %}