{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block links %}

    {% endblock links %}
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'school' 'sola' %}">Contact</a></li>
            <li><a href="{% url 'contact' %}">Contact-us</a></li>
            <li><a href="{% url 'donate' %}">Donations</a></li>
            {%  if user.is_authenticated %}
            <li><a href="{% url 'blogs' %}">Blogs</a></li>
            <li><a href="{% url 'create' %}">Create Blog</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <p>Hi {{user.username}}</p>
            {% endif %}
        </ul>
    </nav>
    {% for message in messages %}
    <p class="{{message.tags}}">{{message}}</p>
    {% endfor %}
    <hr>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <!-- <footer>
        This is the footer
    </footer> -->
</body>
</html>